<div class="container" >
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-danger">+</button> Programming Level 1:
      </div>


      <div class="col-8">
        <ngb-progressbar type="success" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-danger">+</button> Fitness Level 1:
      </div>
      <div class="col-8">
        <ngb-progressbar type="info" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-danger">+</button> Housework Level 1:
      </div>
      <div class="col-8">
        <ngb-progressbar type="warning" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-danger">+</button> Reading Level 1:
      </div>
      <div class="col-8">
        <ngb-progressbar type="danger" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

