<div class="container">
    <div class="row">
      <div class="col-2">
        Programming Level 1
      </div>
      <div class="col-10">
        <ngb-progressbar type="success" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-2">
        Fitness Level 1:
      </div>
      <div class="col-10">
        <ngb-progressbar type="info" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-2">
        Housework Level 1:
      </div>
      <div class="col-10">
        <ngb-progressbar type="warning" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

<div class="container">
    <div class="row">
      <div class="col-2">
        Level 1:
      </div>
      <div class="col-10">
        <ngb-progressbar type="danger" [value]="25" [striped]="true" ></ngb-progressbar>
      </div>
    </div>
</div>  

